# Where Python is used ?


# 1. website development - sending data, processing data,url routing,cyber security

# 2. software development

# 3. Task Automation

# 4. Data Analysis - Conduct Statistial calculations,ML Algorithms,manipulate &    analyse data

# 5. Machine Learning


# 6. Artificial Intelligence

# 7. Data Visualisation

# 8. Accountants & Scientists

# Father of python - Guido Van Rassum  Launched python- Feb 20, 1991

# What is pyhon


# Recently growing popular programming Language

# 1. General purpose Lang  - To download youtube videos, pdf to voice,             games,emails, whatsup message,

# 2. Beginner Friendly Lang

# 3. Code Readability

# 4. High-level program lang : Close to english lang

# 5. Object oriented PL(classes, objects)

# Hello World Program

# Print function

Print function is used to print some thing that is given inside " ()"

In [1]:
print("Hello World!!!")

Hello World!!!

In [2]:
print(7)

7

In [3]:
print("sudha" + "rani")

sudharani

In [4]:
print("sudha"+" rani")

sudha rani

In [5]:
print(7+3)

10

In [6]:
A = int(input())  
print(A)

3
3

# Operators in Python

1. Arithematic Operators
2. Assignment Operators
3. Comparision Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

# 1.Arithematic Operators( +, - ,* , /, %, **)

In [7]:
a = 20
b = 10
add = a + b
print('add = ',add)

sub = a - b
print('sub = ',sub)

mul = a * b
print('mul = ',mul)

div = a / b
print('div = ',div)

mod = a % b
print('mod = ',mod)

exp = a ** b
print('exp = ',exp)

add =  30
sub =  10
mul =  200
div =  2.0
mod =  0
exp =  10240000000000

# Assignment Operators(+= , - = ,*=, /=, **=, %=)

In [8]:
a = 10
print(a)
a += 2
print(a)

b = 10
b -= 2
print(b)

c = 5
c *= 2
print(c)

d = 6
d /= 2
print(d)

e = 8
e **= 3
print(e)


f = 10
f %= 2
print(f)

10
12
8
10
3.0
512
0

# Comparision Operators ( == ,<=, >=, !=,<,> )

In [9]:
a = 4
b = 5
print( a == b)
print( a != b)
print( a <= b)
print( a >= b)
print( a < b)
print( a > b)

False
True
True
False
True
False

# Logical Operators (and , or, not)

# AND - both the conditions are true

# OR - Atleast one condition is true

In [10]:
a = 10
print(a<20 and a>21)
print(a<20 or a>5)
print(not(a > 20))

False
True
True

# Identity Operators ( is, is not)

In [11]:
a = 10
b = 5
print( a is b)
print( a is not b)

False
True

# Membership Operators ( in, not in)

In [12]:
a = 5
b = 10

c = [1,2,3,4,5]
print(a in c)
print(b in c)

print(a not in c)
print(b in c)

True
False
False
False

# Data types (int,float ,comp,bool,string)

In [13]:
b=float(a)
print(type(b))
print(b)

<class 'float'>
5.0

In [14]:
c=int(b)
print(c)

5

In [15]:
a=3+4j
print(a)
print(type(a))

(3+4j)
<class 'complex'>

In [16]:
d=int(3.4)
print(d)

3

In [17]:
a = True
b = False
print(a)
print(type(a))

True
<class 'bool'>

In [18]:
print(type(b))

<class 'bool'>

In [19]:
a = 8 < 3
print(a)

False

In [20]:
print(a)

False

In [21]:
a = 8 > 3
print(a)

True

# String must be enclosed in single(' ') or double quotes(" ")

a = "Sudha"
print(a)
print(type(a))

In [22]:
print(a * 5)

5

# Slicing

In [12]:
str1 = ["sudha", "vimala", "sadha", "saya"]
for name in str1:
    #  if name[1] == "u":
    #  if (len(name) >= 3 and len(name) == 4 and name[0] == "s"):
        print(name)

saya

In [23]:
b = "programming"

print(b[0:5])

print(b[1:5])

print(b[:])

print(b[0:5])

print(b[2:])

print(b[0:10:2])

progr
rogr
programming
progr
ogramming
pormi

# Str Concatenation

In [24]:
a = "sudha"
b = "rani"
print(a+b)

sudharani

# Types of objects in Python


# 1.Mutable objects -we can change the value once it is created
1. List
2. Set
3. Dictionary

# 2.Immutable objects - we can't change the values once it is created
1. int
2. float
3. String
4. bool
5. Tuple

# List  - are mutable,allow duplicates, enclosed in ( [] )

In [25]:
l = [1, 4, "sudha",3.5]
print(l)
print(type(l))

[1, 4, 'sudha', 3.5]
<class 'list'>

In [26]:
                                 # add elements to a list
l = [1, 4, "sudha",3.5]
l.append('ashok')
print(l)
print(type(l))

[1, 4, 'sudha', 3.5, 'ashok']
<class 'list'>

# print elements with their index value
l = [1, 4, "sudha",3.5]

print(l[3])

# list allows duplicate values
l = [1, 4, "sudha",3.5, 3.5, 3.5]

print(l)

# number of ele in a list
print(len(l))

# empty list

l = []
print(l)

In [27]:
l.append('ashok')
print(l)

[1, 4, 'sudha', 3.5, 'ashok', 'ashok']

# delete ele in the list
l = [1, 4, "sudha",3.5, 3.5, 3.5]

del l[2]
print(l)

In [28]:
# join 2 lists
l1 = [1,1,2,3,5,6,7]
l2 = [3,4,9,6,5]
l3 = l1 + l2
print(l3)

[1, 1, 2, 3, 5, 6, 7, 3, 4, 9, 6, 5]

# Tuple  - are immutable ,allow duplicates, enclosed in ( )

# Tuple allows all data types

t = (1,2.3,'sudha',4)
print(t)

In [29]:
# Converting list to tuple

l = [1,2,3,4]
print(l)

my_tuple = tuple(l)
print(my_tuple)

[1, 2, 3, 4]
(1, 2, 3, 4)

In [30]:
my_tuple.append(6)
print(my_tuple)

AttributeError: 'tuple' object has no attribute 'append'

# Set - doesn't allow duplicates, enclosed in { }

In [ ]:
s = {1,2,3,4,5}
print(type(s))
print(s)

In [ ]:
print(s[4])

In [ ]:
# convrting list to set
l = [1,2,3,4,5]
s = set(l)
print(s)

# Dictionary :  key-value pairs,doesn't allow duplicates

In [ ]:
dic = {'name' :"sudha" , 'age':20}
print(dic)

In [ ]:
dict = {"stud1":int(input("enter stud1 marks :")), "stud2":int(input("enter stud2 marks :"))}
stud1 = dict['stud1']
stud2 = dict['stud2']
print(dict['stud1'])
print(dict['stud2'])

# If statement

In [ ]:
# If statement
a = 33
b = 200
if b > a:
 print("b is greater than a")

# elif statement

In [ ]:
a = 33
b = 33
if b > a:
 print("b is greater than a")
elif a == b:
 print("a and b are equal")

# Simple If else

In [ ]:
a = int(input("enter num1 :"))
b = int(input("enter num2 :"))
if (a > b):
    print('a is big')
else:
    print('b is big')

# if elif else

In [ ]:
a = 4
b = 5
c = 6
if (b<a>c):
    print('a is big')
elif (a<b>c):
    print('b is big')
else:
    print('c is big')

In [ ]:
a = 50
b = 50
if a != b:
    print("if block")
    
elif a == b:
    print("1st elif block")
    
elif a > b:
    print("2 elif block")
elif a >= b:
    print("3 elif block")
elif a < b:
    print("4 elif block")    
    
elif a <= b:
    print("5 elif block")    
    
else:
    print("else block")

# nested if statement

In [ ]:
a = 4
b = 5
c = 6
if (a>b):
    if(a>c):
        print('a is big')
    else:
        print('c is big')
else:
    if (b>c):
        print('b is big')
    else:
        print('c is big')

# Loops in Python (for ,while)

# For - If you need to repeat the same, or similar, code a number of times

In [ ]:
max_num = int(input("enter max num: "))
for i in range(1, max_num+1,2):
    print(i)

In [ ]:
for i in range(2,13,2):
    print(i)

In [ ]:
l1 = [1,2,3,4,5,6,7]
for i in l1:
    print(i)

xgbm(,svm,random forest classifier

tableu,power BI

In [ ]:
for i in [1,2,3,4,5,6,7,8]:
    print(i)
    if i == 6:
        break

# Break - Terminate a loop

In [40]:
i = 1
while i < 6:
    if i == 3:
        break
    print(i)
    i = i+1

1
2

In [39]:
fruits = ["apple","grapes","banana"]
for i in fruits:
    print(i)
    if i == "grapes":
    #if i == "apple":
        break

apple
grapes

In [32]:
for i in range(0,10):
    if i % 2 == 0:
        continue
    else:
        print(i)

1
3
5
7
9

In [41]:
for i in range(0,10):
    if i % 3 == 0:
        break
    else:
        print(i)

# Continue -Ends current iteration and continue to next iteration

In [38]:
i = 0
while i < 6:
    i = i+1
    if i == 2:# Here 2 is skipped and moved to next iteration
        continue
    print(i)

1
3
4
5
6

# Print for 1000 even numbers

In [5]:
i = 0
while i < 1000:
    i = i+1
    if i % 2 != 0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
330
332
334
336
338
340
342
344
346
348
350
352
354
356
358
360
362
364
366
368
370
372
374
376
378
380
382
384
386
388
390
392
394
396
398
400
402
404
406
408
410
412
414
416
418
420
422
424
426
428
430
432
434
436
438
440
442
444
446
448
450
452
454
456
458
460
462
464
466
468
470
472
474
476
478
480
482
484
486
488
490
492
494
496
498
500
502
504
506
508
510
512
514
516
518
520
522
524
526
528
530
532
534
536
538
540
542
544
546
548
550
552
554
556
558
560
562
564
566
568
570
572
574
576
578
580
582
584
586
588
590
592
594
596
598
600
602
604
606
608
610
612
614
616
618
620
622
624
626
628
630
632
634
636
638
640
642
644
646
648
650
652
654
656
658
660
662
664
666
668
670
672
674
676
678
680
682
684
686
688
690
692
694
696
698
700
702
704
706
708
710
712
714
716
718
720
722
724
726
728
730
732
734
736
738
740
742
744
746
748
750
752
754
756
758
760
762
764
766
768
770
772
774
776
778
780
782
784
786
788
790
792
794
796
798
800
802
804
806
808
810
812
814
816
818
820
822
824
826
828
830
832
834
836
838
840
842
844
846
848
850
852
854
856
858
860
862
864
866
868
870
872
874
876
878
880
882
884
886
888
890
892
894
896
898
900
902
904
906
908
910
912
914
916
918
920
922
924
926
928
930
932
934
936
938
940
942
944
946
948
950
952
954
956
958
960
962
964
966
968
970
972
974
976
978
980
982
984
986
988
990
992
994
996
998
1000

# While loop - we can execute a set of statements as long as a condition is true.

In [6]:
i = 0
while i < 10:
    i = i+1
    if i % 2 != 0:
        continue
    print(i)

2
4
6
8
10

# Maths Functions


# math.ceil(x) : smallest integer greater than or equal to x

# math.floor(x) : the largest integer less than or equal to x

# math.fsum(iterable) : Return an accurate floating point sum of values in the 
 # iterable
 
# math.gcd(*integers): Return the greatest common divisor of the specified integer arguments

# math.isfinite(x): Return True if x is neither an infinity nor a NaN

# math.isnan(x): math.isnan(x)

# math.isqrt(n): Return the integer square root of the nonnegative integer n

# math.sqrt(x): Return the square root of x

# math.pow(x, y): Returns the power of x**y

# math.pi: The mathematical constant π = 3.141592

# math.e: The mathematical constant e = 2.718281

# Functions
# Why we need functions
● Functions allow the same piece of code to run multiple times
● Abstractions
● Reusability
● Functions are used to divide the program into simple modules

In [5]:
def even(n):
    i = 0
    while i < n:
        i = i+1
        if i % 2 != 0:
            continue
        print(i)
n = int(input("enter max value: "))        
even(n) 
#even(20)

enter max value: 20
2
4
6
8
10
12
14
16
18
20